/* *{
	border: 2px solid #000000;
} */

.main-container {
	width: 1350px;
	margin: auto;
}

.header {
	border-radius: 25px;
	height: 150px;
	width: 1500px;
	background-color: #92d050;
}

.logo {
	height: 130px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 10px;
	float: left;
}

.divTitle {
	position: relative;
	top: 19%;
	height: 30px;
	width: 720px;
	font-family: Times New Roman, Times, serif;
}

.imageDiv {
	float: right;
	/*position: relative;*/
	height: 12px;
	top: 5%;
	left: 35%;
	width: 850px;
}

.inputTextbox {
	position: relative;
	height: 12px;
	top: 5%;
	left: 35%;
	width: 850px;
}

.headerButton {
	height: 130px;
}

.font {
	font-size: 55px;
	padding-bottom: 2em;
}

.table_image {
	width: 35px;
	height: 35px;
	border: 0;
}

.inputDiv {
	position: relative;
	border-radius: 25px;
	height: 130px;
	width: 850px;
	border-width: 3px;
	border-style: solid;
	margin-top: 80px;
	left: 12%;
}

#name-textbox {
	background-color: transparent;
	border: 0px solid;
	outline: none;
	margin-left: 15px;
	margin-top: 10px;
	height: 100px;
	width: 840px;
	font-size: 25px;
}

.main-buttons {
	position: relative;
	background-color: #70baeb;
	border: 2px solid black;
	color: black;
	padding: 15px 32px;
	width: 250px;
	height: 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	left: 30%;
}

.align {
	position: absolute;
	margin: 4px 2px;
	left: 35%;
}

.main-tables tr:nth-child(even) {
	background-color: #FFF8DC;
}

.main-tables tr:nth-child(odd) {
	background-color: #EFDFBB;
}

.main-tables tr:nth-child(1) {
	background-color: #F0E130;
}

.table_header {
	background-color: #BDB76B;
	/* #56A0D3 */
}

.main-tables {
	position: relative;
	text-align: left;
	padding: 15px;
	font-size: 28px;
	margin: 30px;
	left: 23%;
	width: 50%;
	border-collapse: separate;
	border-spacing: 2px;
	/*display:inline-block; */
}

.main-tables td {
	padding: 5px;
}

.main-tables a {
	color: black;
	text-decoration: none;
}

.pop_up {
	position: fixed;
	text-align: :center;
	z-index: 20;
	bottom: 25%;
	width: 100% !important;
	height: 250;
}

.pop_up_img_fail {
	float: left;
	width: 140px;
	height: 130px;
}

.pop_up_background {
	font-size: 22px;
	width: 300px;
	background: yellow;
	height: 160px;
	border-style: solid;
	max-width: 300px;
	border-width: thick;
}

.pop_up_button {
	clear: both;
	width: 80px;
	background-color: #70baeb;
	border: 2px solid black;
	color: black;
	border-radius: 5px;
}

.pop_up_text {
	width: 50%;
	float: right;
	padding: 5px;
}

.word_char {
	width: 1em;
	height: 1em;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: px solid black;
	font-weight: bold;
	text-align: center;
	font-size: 17px;
}

.active {
	background-color: #70baeb;
}

.success {
	width: 250px;
	float: right;
	display: inline-block;
	margin-top: 30px;
}

.header2 {
	position: relative;
	font-size: 40px;
	margin: 10px;
	left: 30%;
}

.red {
	color: red;
	display: inline;
}

.create_puzzle_table {
	margin: 0 auto;
	padding-top: 0;
	width: 65%;
	min-width: 500px;
	font-size: 2em;
}

.create_puzzle_table th,
.create_puzzle_table td {
	background: lightblue;
}

.create_puzzle_table th:nth-child(1) {
	width: 10%;
}

.create_puzzle_table th:nth-child(2) {
	width: 20%;
}

.create_puzzle_table th:nth-child(3) {
	width: 35%;
}

.create_puzzle_table th:nth-child(4) {
	width: 35%;
}

.create_puzzle_table th {}

.create_puzzle_table td {
	height: 100%;
	padding: 3px;
	font-weight: lighter;
}

.create_puzzle_table input {
	display: inline-block;
	border-style: none;
	background: lightblue;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: inherit;
}

.crumb {
	font-size: 30px;
}

.title {
	/*text-align: center;*/
	position: absolute;
	left: 35%;
	font-size: 60px;
	padding-top: 0px;
	margin-top: 0px;
}

.add_wrapper {
	text-align: center;
}

html,
body {
	width: 100%;
}

.add_wrapper h1 {
	font-size: 3em;
	margin-bottom: 0;
}

.puzzleButton {
	width: 250px;
	height: 50px;
	background: #2bb0dc;
	border-radius: 8px;
	font-size: 30px;
	margin-top: 1em;
}

.navOption {
	padding: 0;
	margin: 0;
	width: 9.5em;
	height: 10em;
	text-align: center;
	background-color: #2bb0dc;
	display: inline;
	border-color: white;
	border-radius: 20px;
	border-bottom-width: thin;
	bottom: 10em;
}

.navBar {
	display: inline-block;
	line-height: 2em;
	background-color: #92d050;
	padding-top: 2em;
	padding-bottom: 2em;
	
}
