.logo {
	height: 130px;
	margin-left: 10px;
	float: left;
}

.inputTextbox {
	position: relative;
	height: 12px;
	top: 5%;
	left: 35%;
	width: 850px;
}

.headerButton {
	height: 130px;
}

.font {
	font-size: 55px;
	vertical-align: super;
}

.table_image {
	width: 35px;
	height: 35px;
	border: 0;
}

.inputDiv {
	position: relative;
	border-radius: 25px;
	height: 130px;
	width: 850px;
	border-width: 3px;
	border-style: solid;
	margin-top: 80px;
	left: 12%;
}

#name-textbox {
	background-color: transparent;
	border: 0px solid;
	outline: none;
	margin-left: 15px;
	margin-top: 10px;
	height: 100px;
	width: 840px;
	font-size: 25px;
}

.main-buttons {
	position: relative;
	background-color: #70baeb;
	border: 2px solid black;
	color: black;
	padding: 15px 32px;
	width: 250px;
	height: 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	left: 30%;
}

.align {
	position: absolute;
	margin: 4px 2px;
	left: 35%;
}

.main-tables tr:nth-child(even) {
	background-color: #FFF8DC;
}

.main-tables tr:nth-child(odd) {
	background-color: #EFDFBB;
}

.main-tables tr:nth-child(1) {
	background-color: #F0E130;
}

.table_header {
	background-color: #BDB76B;
	/* #56A0D3 */
}

.main-tables {
	position: relative;
	text-align: left;
	padding: 15px;
	font-size: 28px;
	margin: 30px;
	left: 23%;
	width: 50%;
	border-collapse: separate;
	border-spacing: 2px;
	/*display:inline-block; */
}

.main-tables td {
	padding: 5px;
}

.main-tables a {
	color: black;
	text-decoration: none;
}

.pop_up {
	position: fixed;
	text-align: :center;
	z-index: 20;
	bottom: 25%;
	width: 100% !important;
	height: 250;
}

.pop_up_img_fail {
	float: left;
	width: 140px;
	height: 130px;
}

.pop_up_background {
	font-size: 22px;
	width: 300px;
	background: yellow;
	height: 160px;
	border-style: solid;
	max-width: 300px;
	border-width: thick;
}

.pop_up_button {
	clear: both;
	width: 80px;
	background-color: #70baeb;
	border: 2px solid black;
	color: black;
	border-radius: 5px;
}

.pop_up_text {
	width: 50%;
	float: right;
	padding: 5px;
}

.word_char {
	width: 4em;
	height: 1.5em;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: px solid black;
	font-weight: bold;
	text-align: center;
	font-size: 17px;
}

.active {
	background-color: #70baeb;
}

.success {
	width: 250px;
	float: right;
	display: inline-block;
	margin-top: 30px;
}

.header2 {
	position: relative;
	font-size: 40px;
	margin: 10px;
	left: 30%;
}

.red {
	color: red;
	display: inline;
}

.create_puzzle_table {
	margin: 0 auto;
	padding-top: 0;
	width: 65%;
	min-width: 500px;
	font-size: 2em;
}

.create_puzzle_table th,
.create_puzzle_table td {
	background: lightblue;
}

.create_puzzle_table th:nth-child(1) {
	width: 10%;
}

.create_puzzle_table th:nth-child(2) {
	width: 20%;
}

.create_puzzle_table th:nth-child(3) {
	width: 35%;
}

.create_puzzle_table th:nth-child(4) {
	width: 35%;
}

.create_puzzle_table th {}

.create_puzzle_table td {
	height: 100%;
	padding: 3px;
	font-weight: lighter;
}

.create_puzzle_table input {
	display: inline-block;
	border-style: none;
	background: lightblue;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: inherit;
}

.crumb {
	font-size: 30px;
}

.title {
	/*text-align: center;*/
	position: absolute;
	left: 35%;
	font-size: 60px;
	padding-top: 0px;
	margin-top: 0px;
}

.add_wrapper {
	text-align: center;
}

html,
body {
	width: 100%;
}

.add_wrapper h1 {
	font-size: 3em;
	margin-bottom: 0;
}

.puzzleButton {
	width: 250px;
	height: 50px;
	background: #2bb0dc;
	border-radius: 8px;
	font-size: 30px;
	margin-top: 1em;
}

.navOption {
	padding: 0;
	margin: 0;
	vertical-align: text-bottom;
	width: 120px;
	height: 130px;
	text-align: center;
	display: inline;
	border-color: white;
	border-radius: 20px;
	border-width: medium;
	border-style: solid;
	font-size: 25px;
}

.navBar {
	max-height: 150px;
	width: 1380px;
	display: block;
	background-color: #92d050;
	border-radius: 25px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.nav-wrapper {
	max-height: 150px;
	width: 100%;
	display: inline;
	font-size: 55px;
	font-family: Times New Roman, Times, serif;
}

.navBar a {
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#admin {
	
	background-color: #2bb0dc;
}

#list {
	background-color: #EEE657;
}

#addpuzzle {
	background-color: #81E2E6;
}

#addword {
	background-color: #F3C9BF;
}

#login {
	background-color: #2bb0dc;
}

#export {
	padding-left: 1em;
	padding-top: 1em;
	display: inline;
	float: left;
}

#export a {
	font-size: 25px;
	display: block;
}

#import {
  display: inline;
  /*
	float: right;
	padding-top: 1em;
	font-size: 25px;
	width: 30%;
	display: inline;*/
}

#import input {
	
	font-size: 15px;
	display: inline;
}



.userTable {
  padding: 2em;
  min-width: 40%;
  height: 2em;
  text-align: center;
  font-size: 26px;
}

.userTable thead tr {
  background-color: #F0E130 !important;
}

.userTable td {
  padding: .5em;
}

.userTable th {
  padding: .5em;
}

.userTable tr:nth-child(even) {
  width: 10em;
  background-color: #FFF8DC;
}

.userTable tr:nth-child(odd) {
  background-color: #EFDFBB;
}

input {
  
}



.upload {
  display: inline !important;
}
