/* *{
	border: 2px solid #000000;
} */
.header{
	border-radius: 25px;
	height: 150px;
	width: 1350px;
	background-color: #92d050;
}
.logo{
	height: 130px;
	margin-top: 10px;
	margin-left: 3px;
	float: left;
}
.divTitle{
	position: relative;
	top: 20px;
	height: 30px;
	right: 12%;
	width: 440px;
	font-family: Times New Roman, Times, serif;
}
.imageDiv{
	position: relative;
	height: 12px;
	top:5%;
	left: 28%;
	width: 600px;
}
.headerButton{
	height: 130px;
}
.font{
	font-size: 55px;
}
.inputDiv{
	border-radius: 25px;
	height: 130px;
	width: 850px;
	border-width: 3px;
    border-style: solid;
	margin-top: 80px;
	left: 20%;
}
#name-textbox{
	background-color: transparent;
    border: 0px solid;
    outline: none;
	margin-left: 15px;
	margin-top: 10px;
	height:100px;
	width:840px;
	font-size: 25px;
}
.main-buttons{
    background-color: #70baeb;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
	width: 230px;
	height: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:25px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
	left: 20%;
}
.align{
	position: relative;
	display: inline-block;
	margin: 10px;
	/* left: 400px; */
}
.main-tables tr:nth-child(even) {
   background-color: #FFF8DC;
}
.main-tables tr:nth-child(odd) {
   background-color: #EFDFBB;
}
.main-tables tr:nth-child(1)
{
   background-color: #F0E130; 
}
.table_header{
	background-color: #BDB76B;
	/* #56A0D3 */
}
.main-tables{
	text-align: left;
  padding: 15px;
	font-size: 28px;
	margin: 30px;
	border-collapse: separate;
  border-spacing: 2px;
	display:inline-block;
}
.main-tables td{
	padding: 5px;
}

.pop_up {
	position: fixed;
  text-align: :center;
  z-index: 20;
  bottom: 25%;
  width: 100% !important;
  height: 250;
}

.pop_up_img_fail {
	float: left;
	width: 140px;
	height: 130px;
}

.pop_up_background {
	font-size: 22px;
	width: 300px;
	background: yellow;
	height: 160px;
	border-style: solid;
	max-width: 300px;
	border-width: thick;
}

.pop_up_button {
	clear: both;
	width: 80px;
	background-color: #70baeb;
	border: 2px solid black;
	color: black;
	border-radius: 5px;
}

.pop_up_text {
	width: 50%;
	float:right;
	padding: 5px;
}

.word_char {
	width: 1em;
	height: 1em;
	padding:5px;
	margin-right:10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: px solid black;
	font-weight: bold;
	text-align: center;
	font-size: 17px;
}

.active {
	background-color: #70baeb;
}

.success {
	width:250px;
	float: right;
	display:inline-block;
	margin-top: 30px;
}
